{% if user in article.like_users.all %}
  <i class="fas fa-heart fa-lg like-button" data-id="{{ article.id }}" style="color: crimson;"></i>
 {% else %}
  <i class="far fa-heart fa-lg like-button" data-id="{{ article.id }}" style="color: black;"></i>
 {% endif %}
 <span id="like-count-{{ article.pk }}">좋아요 수 : {{ article.like_users.all|length }}</span>
 <br>
 {% if user in article.recommend.all %}
  <a href="{% url 'articles:recommend' article.pk %}">
    추천 취소
  </a>
 {% else %}
  <a href="{% url 'articles:recommend' article.pk %}">
    추천
  </a>
 {% endif %}
 추천  수 : {{ article.recommend.all|length }}
 <br>