{% if user in article.like_users.all %}
  <a href="{% url 'articles:like' article.pk %}">
    <i class="far fa-heart fa-lg text-danger"></i>
  </a>
 {% else %}
  <a href="{% url 'articles:like' article.pk %}">
    <i class="fas fa-heart fa-lg text-danger"></i>
  </a>
 {% endif %}
 좋아요 수 : {{ article.like_users.all|length }}
 <br>
 {% if user in article.recommend.all %}
  <a href="{% url 'articles:recommend' article.pk %}">
    추천 취소
  </a>
 {% else %}
  <a href="{% url 'articles:recommend' article.pk %}">
    추천
  </a>
 {% endif %}
 추천  수 : {{ article.recommend.all|length }}
 <br>